[2010-09-28 12:34] aaronmase opened #1 "Recursive dependency?"
i.e.
gem install dotiw

ERROR:  Error installing dotiw:
    dotiw requires dotiw (~> 0.4.0, runtime)

[2010-12-19 00:56] fannar opened #2 "Not full i18n support"
Languages like Russian, Icelandic and more can't just do simple singularization if the number is 1.

So 1 month and 21 months are ok in English.
But ie. in Icelandic it is 1 month and 21 month.

So there needs to be support for one, few, many, other.

[2010-12-19 00:58] fannar opened #3 "Seconds always showing"
Doesn't matter if the third parameter is true or false. It always shows seconds.

[2010-12-26 03:26] #3 closed, assigned to nobody

[2010-12-26 14:03] #1 closed, assigned to nobody

[2010-12-26 14:54] #2 closed, assigned to nobody

[2011-02-20 15:53] frissony opened #9 "Bad output in Rails 3.0.3"
Using an example from your README:
`distance_of_time_in_words(Time.now, Time.now + 1.year + 2.months + 3.days + 4.hours + 5.minutes + 6.seconds)`

outputs things in the wrong order:

`5 minutes, 3 days, 3 hours, 1 year, 6 seconds, and 2 months`

What is the fix?

I don't understand the code very well, but it seems that `time_measurements` in `display_time_in_words` should be an array, instead of a

[2011-03-05 02:35] #9 closed, assigned to nobody

[2011-04-16 03:15] rubish opened #10 "distance_of_time doesn't use options"
distance_of_time is defined as

[code]

display_time_in_words treats options passed to distance_of_time as include_seconds.

[2011-04-29 07:17] espen opened #13 "I18n 1.hour -> 1.hours"
With English locale it is displayed as '1 hour' but with Norwegian locale it is displayed as '1 timer' = '1 hours'.

[2011-05-26 13:37] courtland opened #18 "failing accumulate test"
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/bin/ruby -S bundle exec rspec ./spec/lib/dotiw_spec.rb
....................................F..........................

Failures:

  1) A better distance_of_time_in_words real version accumulate on should be 1 year, 1 month, 22 days, 16 hours, and 10 seconds
     Failure/Error: distance_of_time_in_words(start, finish, true, :accumulate_on

[2011-09-14 15:35] gduquesnay opened #20 "Changes existing behavior of time_ago_in_words"
We only needed this precision in one place but all the time_ago_in_words calls started behaving differently.

see workaround :)

module ActionView
  module Helpers
    module DateHelper
      alias_method :new_distance_of_time_in_words, :distance_of_time_in_words
      alias_method :distance_of_time_in_words, :old_distance_of_time_in_words
    end
  end
end

Am I missing something obvious?

[2011-10-30 22:30] #10 closed, assigned to nobody

[2011-12-04 20:10] mahemoff opened #22 "feature request: "precision" argument"
I'm looking for an argument which would let you specify how many units to include. e.g. a value of 3 would output "2 years, 3 months, and 8 days", but for a shorter duration, "1 hour, 10 minutes, and 30 seconds".

[2011-12-05 00:32] #22 closed, assigned to nobody

[2012-01-09 01:36] mahemoff opened #25 "Formatting units"
Is there any way to get a format like "4D15H"?

I know there's locale support, but that doesn't seem the right thing for this.

[2012-01-09 09:50] #25 closed, assigned to nobody

[2012-09-11 01:06] astrodad opened #26 "distance_of_time undefined"
Hello,

Ruby n00b here.  I've installed the gem via my gemfile (no errors on bundle install) but I am getting an undefined method when I try to invoke distaince_of_time. I've included in my controller:

  include ActionView::Helpers::DateHelper
  include ActionView::Helpers::TextHelper
  include ActionView::Helpers::NumberHelper

Is there some other way I should be including dotiw?

[2012-12-14 13:14] jackocnr opened #28 "Returning empty string if two times are the same"
Thanks a lot for this great gem - exactly what I was looking for!

My problem may be down to the fact that I'm using highest_measure_only, but either way, surely this should never return empty string? It means people are going to have empty elements on their page. I think it should default to "Just now" or "1 second" or whatever. Or if people really believe empty string is the right output, we sho

[2013-01-31 23:07] rfernand opened #30 "Negative days: 1 month, -1 day, 3 hours, and 59 minutes"
Using distance_of_time_in_words(finish_date, Time.now) dotiw gived as output:
 1 month, -1 day, 3 hours, and 59 minutes

Why the negative days?

[2013-03-16 13:43] jonathansimmons opened #31 "Not calculating days properly"
I am using distance_of_time_in_words with the expanded gem as follows:

`<%= distance_of_time_in_words(@client.report_missing_after.days, Date.today, false, except: ["hours","minutes"])  %>`
If @client.report_missing_after were to equal 7 the code above would return "7 Days" as expected. This works fine for if `@client.report_missing_after` equals 1-28, when I reach 29 sudenly the output looks lik

[2013-06-17 23:11] #13 closed, assigned to nobody

[2013-07-04 07:53] canimus opened #32 "Deprecation Warning :include_seconds as part of options Hash, not a boolean argument"
When using the helper function:
[code]
A deprecation warning is raised in using Rails 4.0.0 with the following message
DEPRECATION WARNING: distance_of_time_in_words and time_ago_in_words now accept :include_seconds as a part of options hash, not a boolean argument.

[2013-08-26 13:22] passalini opened #34 "suport to rails 4"
[code]

[2014-09-18 07:08] #34 closed, assigned to nobody

[2014-09-30 14:41] #28 closed, assigned to nobody

[2015-01-15 05:23] glampr opened #40 "8 failing tests"
Just tried to use the gem but there are 8 failing tests for me (ruby 2.1.1):

Just putting these here, I will try to investigate more when I have more time.

[code]

[2015-01-16 04:55] glampr commented on #40
Take a look at #41 and comment if you have time!

[2015-02-06 11:41] redbar0n opened #44 "translation missing error: with vague: and locale: used together"
It seems like it isn't possible to specify both :vague and :locale at the same time.

PS: "rundt 1 år" means "about 1 year" in Norwegian.

[code]

[2015-02-06 20:20] luisincrespo opened #45 "How to use it?"
Not actually an issue, lack of docs maybe. I just want to know how to use it?. I included the gem in my Gemfile as **gem 'dotiw'**. *distance_of_time_in_words* behaviour still the same.

I'd appreciate any response.

Best.

[2015-02-07 01:38] radar commented on #45
Did you restart your server after adding it? It overrides the default.

[2015-02-08 01:58] radar commented on #44
@redbar0n Thanks for reporting this bug. Do you have time to write a regression test and investigate a fix for this?

[2015-02-09 14:08] luisincrespo commented on #45
Thanks for your response.

Yep I restarted the server. Still displaying the simple *distance_of_time_in_words*. I'm using foreman for my sever, is there any problem with that?.

[2015-02-09 22:42] radar commented on #45
Can you reproduce this issue in a new application?

[2015-02-10 10:43] Sija opened #46 "Cleanup issues"
Hi,
It might be refreshing to close obsolete issues (like all of 'em) :)

Just a thought,
Sija

[2015-02-10 13:16] luisincrespo commented on #45
I'll give it a try and let you know!.

[2015-02-14 00:07] radar commented on #46
Thank you very much for volunteering for that task @Sija. Please ping me on any issue you think needs closing.

[2015-02-14 00:07] radar commented on #45
@luisincrespo How did it go?

[2015-02-14 00:08] #18 closed

[2015-02-14 00:08] #40 closed

[2015-02-14 00:08] #26 closed

[2015-02-14 00:08] radar commented on #31
@jonathansimmons Is this still an issue?

[2015-02-14 00:09] radar commented on #30
@rfernand is this still an issue? If so, can you please provide steps to reproduce the problem?

[2015-02-14 00:09] radar commented on #32
I think this issue is now fixed.

[2015-02-14 00:09] #32 closed

[2015-02-14 00:09] radar commented on #44
Ping @redbar0n again.

[2015-02-14 00:09] #46 closed

[2015-02-14 00:11] #20 closed

[2015-02-14 00:31] luisincrespo commented on #45
Hey Ryan. Sorry I haven't gotten the time to reproduce the issue in a new
app. I'll be in touch when I do, you can close the issue for now thanks.

On 7:37pm, Fri, Feb 13, 2015 Ryan Bigg <notifications@github.com> wrote:

[2015-02-15 03:43] glampr commented on #45
What is the latest version of this gem pushed to rubygems?
https://rubygems.org/gems/dotiw
This seems quite old... is this the correct one?

[2015-02-16 20:47] radar commented on #45
I think you answered your own question.

Please use the version from GitHub until I push a new version.

[2015-02-18 17:11] redbar0n commented on #44
Hey, sorry, been a bit busy, and this bug didn't really impede my work, since I didn't want :vague.
But I'll put it on my todo list for the first spare time opportunity that presents itself. :)

[2015-02-20 20:40] #45 closed

[2015-03-03 17:19] lurraca opened #48 "Spanish locale."
Is there any reason why the spanish locale is not included with the gem as the others [de, en, nb, pl, ru]?

Also the 'es' locale in the spec file have a typo that I would gladly fix. I know that for the purpose of where it's being used doesn't matter (it's just to confirm that the gem would work with custom locales) but if a non-spanish speaker would take it to use in their own application then i

[2015-03-03 23:04] radar commented on #48
No idea. Probably legacy reasons. If you could submit a PR to move it in there that would be nice.

[2015-03-04 20:47] #48 closed

[2015-03-10 14:17] rvenk opened #50 "Unexpected output: "less than 1 second" with only: [:years, :months]"
I'm trying to output an age in years and months, but when the output is less than 1 month it outputs "less than 1 second":
https://github.com/radar/dotiw/blob/master/lib/dotiw/action_view_ext/helpers/date_helper.rb#L61

I think the output should rather be "less than 1 month" or "0 months".

[2015-03-10 20:03] radar commented on #50
Please provide exact steps to reproduce this problem.

[2015-03-10 20:10] rvenk commented on #50
Quite simple:
```distance_of_time_in_words(Time.now, Time.now, only: [:years, :months])```

[2015-03-14 23:35] radar commented on #50
I think this would be a large reworking of how the logic in dotiw works. I do not have the time/energy to do this right now. Can you please investigate a fix for this?

[2015-03-16 09:47] rvenk commented on #50
No problem, I'll start working on this later this week.

[2015-03-23 10:53] #50 closed

[2015-04-05 13:15] aman199002 opened #54 "How to produce rails default distance_of_time_in_words method output"
As rails distance_of_time_in_words method has been overridden in this gem. Is it possible to use rails default distance_of_time_in_words with this gem or any other method which produces same output as defined by rails apis.

[2015-04-05 16:21] Envek commented on #54
There is [`:vague`](https://github.com/radar/dotiw#vague) option for this, AFAIR. It should be the thing that you need.

[2015-04-06 01:36] radar commented on #54
Yes, use the vague option.

[2015-04-06 01:36] #54 closed

[2015-04-08 12:12] advmakerest opened #55 "dotiw with russian locale doesn't calculate correctly"
So I updated to latest dotiw version (the one on git).

I ran 2 commands in Rails console now check this:

[code]
English version is correct, Russian says "1 day, 12 hours, 59 minutes"

Pretty neat, eyh?

I am running.
ruby 1.9.3p484 (2013-11-22 revision 43786) [x86_64-linux]
Rails 3.2.8

Any suggestions on how to fix is highly appreciated.

[2015-04-08 13:49] Envek commented on #55
My blame, sorry. Proposed fix in #56

[2015-04-09 00:22] #55 closed

[2015-05-08 03:31] satheshhmax opened #58 "Issue with calculation"
When i'm trying to calculate months between given date its not showing proper result for an exact year calculation.

[code]
For the above given value i expect result as 12 months OR  12 months, 30 days, 23 hours and so on.

[code]

If i reduce 1 day from end time, it shows proper answer.
[code]

[2015-05-08 07:35] radar commented on #58
I don't know how to fix this without breaking existing behaviour. If you could investigate this and find a patch for it I would happily review it.

Thanks

[2015-06-17 12:25] Olefine opened #59 "not working with DateTime"
Original distance_of_time_in_words working with DateTime and Time object. But your helper works only with Time. If i try use it with DateTime, i am getting this error

[code]

I can use this, but all AR timestamps are DateTime and it looks very ugly

[code]

[2015-06-17 21:26] radar commented on #59
Steps to reproduce in a new app please.

[2015-06-19 08:34] Olefine commented on #59
@radar
[code]

end_date is datetime type

[2015-06-20 07:47] radar commented on #59
Can you please show me a stacktrace for this issue too?

[2015-06-22 12:49] mr-dxdy opened #60 "Russian pluralization"
When the english localization, then test succeeds:

[code]

But when the russian localization, the test falls:

[code]

[code]

My gemfile:
[code]

[2015-06-22 13:06] Envek commented on #60
Already found in #55 and fixed in #56 . Now tested in rails console:

[code]

in Gemfile.lock:

    dotiw (3.0.1)

Please ensure that you have not old version of gem loaded via Spring or something.

[2015-06-22 13:57] mr-dxdy commented on #60
Thank you! I saw your [commit](https://github.com/Envek/dotiw/commit/d58bf8cccd587e73764df57215ab79d4a9bafe05) and remembered that in my project has the old file ```config/locales/dotiw.ru.yml```. I deleted a file and it worked.

[2015-06-22 14:04] Envek commented on #60
Glad that everything works fine. Please close this issue.

[2015-06-22 14:04] #60 closed

[2015-07-07 17:35] rfernand commented on #30
Closing this, old issue and don't remember the details anymore.

[2015-07-07 17:35] #30 closed

[2015-08-12 12:32] rqz13 opened #61 "Missing weeks"
<code>distance_of_time_in_words(Date.today, Date.today + 10.days, false, :highest_measure_only => true)
=> 10 days</code>
I expected to get 1 week

[2015-08-13 01:46] radar commented on #61
Patches welcome.

[2015-08-20 02:49] DavidVII commented on #31
@radar I discovered this issue today.

Consider the following:

[code]

everything works as expected until you hit the `+ 29.days` line. 1-28 work as expected.

[2015-08-20 02:52] DavidVII commented on #31
Looks like it could be related to this: https://github.com/radar/dotiw/blob/master/lib/dotiw/time_hash.rb#L51

[2015-08-31 02:50] radar commented on #31
But how long is a month?

[2015-09-26 18:01] redbar0n commented on #59
It works for me.
[code]

[2015-09-29 12:12] redbar0n opened #63 "Time zone trouble with time_ago_in_words"
There seems to be a problem with how dotiw overwrites the `time_ago_in_words` method with respect to handling of time zones.

Maybe because it is using `Time.now` instead of `Time.zone.now` ?

With dotiw:

[code]

As you can see, there comes an extra hour there. I don't know why.

In another app, without dotiw:

[code]

[2015-09-29 12:26] redbar0n commented on #63
The 1 hour difference seems to come from:

[code]

Which is weird in itself, because the time zone is actually 2 hours in front of GMT:
[code]

Does dotiw do something especially, when accounting for summer time?

[2015-09-30 05:35] radar commented on #63
No, dotiw does nothing special when accounting for any particular timezone.

[2015-09-30 05:36] radar commented on #63
It's possible this bug is caused by using `Time.now`. Please submit a PR that uses `Time.zone.now` instead.

[2015-12-03 12:42] esaborit4code opened #65 "Mention `old_` prefixed methods in Readme"
Taking a look to the code in [date_helper.rb#4](https://github.com/radar/dotiw/blob/v3.0.1/lib/dotiw/action_view_ext/helpers/date_helper.rb#L4), my colleague @jguitar realized that the original Rails' methods are aliased with the `old_` prefix, so you can call them that way instead of passing the `vague` option.

It would be nice to mention that in the Readme file as it can be a convenient way to

[2015-12-03 20:02] radar commented on #65
See the `vague` option, please.

[2015-12-03 20:02] #65 closed

[2015-12-04 10:20] esaborit4code commented on #65
As I described above, I suggested this change as an alternative to the `:vague` option.

[2016-01-12 23:37] lauranjansen commented on #61
Opened a PR #68  that fixes this issue

[2016-03-08 17:00] #61 closed

[2016-03-17 09:11] arjun810 commented on #63
The Time.zone.now fix helped, but there's still a bug here if someone passes both times in:

[28] »  from_time = Time.zone.now
=> Thu, 17 Mar 2016 02:09:31 PDT -07:00
[29] »  p a.h.distance_of_time_in_words(from_time+1.hour, Time.now, {})
"1 hour and 59 minutes"
=> "1 hour and 59 minutes"

I think the cause is here:
https://github.com/radar/dotiw/blob/master/lib/dotiw/time_hash.rb#L21
(lines 21 an

[2016-03-27 06:11] alfie-max opened #74 "Difference in just hours"
I expected the code
`distance_of_time_in_words(Date.new(2015), Date.today, only: :hours)`
To return me something like x hours, i.e total number of hours. between the two dates
Instead it gave me just the hours part in the difference, i.e something like `11 hours`

[2016-03-27 06:13] alfie-max commented on #74
I agree the documentation makes this clear, but wouldn't it be more intuitive if it just returned the difference in hours.
Just suggesting like maybe a new feature or something.

[2016-03-27 08:15] lauranjansen commented on #74
Try using it in combination with :accumulate_on => :hours, that should give you what you're looking for.

[2016-03-27 08:18] lauranjansen commented on #31
I think I fixed this as part of my weeks implementation. Can you verify this isn't an issue anymore?

[2016-03-27 10:23] alfie-max commented on #74
@lauranjansen thanks, that works. Maybe an example case could be shown in the README for future reference.

[2016-03-31 12:28] redbar0n commented on #63
I agree with @arjun810's analysis.

I think the problem lies in that `3.minutes.from_now` actually uses `Time.zone.now`, which already handles DST (like CEST), and so those lines in dotiw's TimeHash class that tries to handle DST too will cause those bugs.

I think it is better to leave it to Ruby/Rails to handle time zones and DST.

http://apidock.com/rails/ActiveSupport/Duration/from_now
is alia

[2016-04-13 19:04] lauranjansen commented on #63
I will submit a PR to remove the weird time zone adjustment lines, which shouldn't be needed anymore.

[2016-05-02 12:13] aphilippi opened #75 "negative number of weeks (-1) returned"
The following call returns a weird result:

distance_of_time_in_words(Date.parse('31.03.2015').to_time, Time.parse('01.03.2016'))
"11 months, -1 weeks, and 6 days"

[2016-05-02 13:33] lauranjansen commented on #75
Thanks for reporting, I was able to reproduce it and added a failing test case for it. Looking into fixing this.

[2016-05-03 06:31] aphilippi commented on #75
+1 :)

[2016-05-27 15:04] alexmarles commented on #63
I recently ran into this problem using the last version of the gem and I see the last response to this thread is from over a month ago. Any ideas on how to solve it or any workaround/patch to apply?

[2016-06-04 09:20] theoreichel commented on #63
I can easily reproduce the issue with the following example:

    => "less than 1 second"

and of course this (almost) works:

    => "59 minutes"

So forcing time to UTC seams to solve the issue, just like if comparison were done without handling timezone.

[2016-06-10 22:15] lauranjansen commented on #63
I tried just removing the time zone adjustments to see if using `Time.zone.now`, but for me that didn't solve the issue. I will try to add the provided cases to the tests and will play around with it some more when I have time.

[2016-07-13 19:23] ivanovaleksey opened #76 "Russian locales fetch few translation instead of many"
Hi.
I try to use this gem in plain ruby script.
What I do is
[code]
But it should be `"1 час 5 минут"`

So it fetched translation for `few` key not for `many`.

Can you please help me to figure it out?

Thank you.

[2016-07-13 20:05] ivanovaleksey commented on #76
I figured it out.
I need to put russian plural forms in `config/locale/plurals.rb`

[2016-07-13 20:05] #76 closed

[2016-08-19 16:21] theil opened #77 "Using only months and days"
Hello everyone!
I'm trying to use only months and days, but the value I'm getting is not right. If I set the date to 9/28 I get "1 month and 2 days" instead I should get "1 month and 9 days". So I guess it's omitting the week and is not combining the week into days. Am I doing something wrong or is this an issue? Thanks!

PS: here's the code
`distance_of_time_in_words(date_a, date_b, false, :only

[2016-08-22 19:28] lauranjansen commented on #77
This is working as intended(https://github.com/radar/dotiw#only), but maybe you can come up with an implementation of the `:accumulate_on` option that allows you to accumulate on multiple measurements.

[2016-12-05 07:17] Brotakuu opened #79 "Performance running slow"
Great gem, but the performance seems to be significantly slower than the method it replaces. Running a benchmark 10000 times, it is on average 4x slower.

    Use dotiw   2.620000   0.010000   2.630000 (  2.666948)
    No dotiw     0.670000   0.010000   0.680000 (  0.697011)

Any idea how to speed it up?

[2016-12-21 08:53] wonderer007 opened #80 "exclude seconds in distance_of_time"
I want to exclude seconds in distance_of_time calculation with field type datetime

Thanks

[2017-03-05 05:55] bovender opened #81 "Totally random result?"
Between January 31 and March 1 there should be exactly 1 month, or 1 month and 1 day if considering distance rather than interval, but I get this:

    irb(main):008:0> distance_of_time_in_words(Date.new(2014,1,31), Date.new(2014,3,1), locale: :en)
    => "1 month, -1 weeks, and 5 days"

This seems totally off. What's going on?

[2017-03-05 08:14] ivanovaleksey commented on #81
Standard Rails `distance_of_time_in_words ` gives me `29 days`, not "exactly 1 month".

[2017-03-05 08:18] bovender commented on #81
You're right of course. My point however was not so much to compare the output with the default implementation, but to investigate why it says *minus* 1 week *plus* 5 days.

[2017-03-05 08:39] ivanovaleksey commented on #81
Yes, I see. I forgot to and "FYI" ☺️. I will try to debug this case, maybe there is some bug here.
But I am not sure if I can find something.

[2017-03-06 09:20] ivanovaleksey commented on #81
@bovender could please check #82 ? It looks very ugly but it seems like it fixes your case.

[2017-07-21 23:31] aldent95 opened #85 "Alters the default behavior of distance_of_time_in_words_to_now"
Just started using this and it does exactly what I need for my project, except for one thing.

The default distance_of_time_in_words_to_now would throw an error when passed nil, allowing me to rescue and provide Never to my view.

However, with this gem, it seems to default to Time.now and gives less than 1 second instead of an error.

My Code, the values in the flights hash is pulled from my data

[2017-08-08 17:52] monfresh opened #86 "Release notes for 4.0?"
Hello. I noticed 4.0.0 was recently released, and I wanted to check out the release notes to find out if there are any breaking changes, but I couldn't find any in the Changelog or in the releases page in this repo. Could you please update the Changelog and mention whether or not there are any breaking changes. If there are, could you please provide documentation on how to upgrade? Thanks!

[2017-10-29 13:55] cesarizu opened #87 "Default to :vague"
We have a large codebase that uses `distance_of_time_in_words` everywhere. Is there any way to default to `:vague` as to keep all the uses as-is and being able to only use the better output where is needed?

[2017-12-28 00:48] jjb opened #88 "distance_of_time vs. distance_of_time_in_words"
I'm getting some confusing behavior here. distance_of_time returns what I expect, and distance_of_time_in_words is an hour off. Is this a bug or am I not understanding something?

[code]

p.s. thanks for a great library!

[2017-12-28 00:52] jjb commented on #88
okay, it appears to be a DST bug:

[code]

[2017-12-28 02:59] lauranjansen commented on #88
Hi @jjb, thanks for reporting this issue. Do you agree that it is most likely a duplicate of issue #63?

[2017-12-28 05:29] jjb commented on #88
Yes, that seems likely, thanks.

[2017-12-28 05:29] #88 closed

[2017-12-28 23:25] jjb opened #89 "specifying "false" for seconds doesn't work in some cases"
is this expected?

[code]

[2017-12-29 02:06] lauranjansen commented on #89
Hi again @jjb! Yes, this is indeed expected behaviour, as documented in https://github.com/radar/dotiw#dotiw-

[2017-12-29 02:06] #89 closed

[2017-12-29 03:16] jjb commented on #89
Gotcha, thanks.

[2018-03-08 10:41] guilherme commented on #79
@Brotakuu could you provide your benchmark?
I've tried this:
[code]
These are the results I got:
[code]

[2018-03-08 11:51] guilherme commented on #79
I've noticed that it'd include the time spent calculating: Time.now + the dates math of the arguments.
and also I am not 100% sure if I this is the worst case scenario for both.
It's an interesting problem to look. I started to poke it.

This is more accurate, for this case:
[code]

[code]

Observations:
- It's interesting how is 6x because the new one split the dates in 6 words: (years, weeks, da

[2018-06-15 21:03] barrywoolgar commented on #86
Here's the [version diff](https://github.com/radar/dotiw/compare/3be9d26...master). Looks to be adding support for Rails 5.1, and loss of support for Ruby 1.9.3.

[2018-06-19 03:04] radar commented on #86
What @barrywoolgar said.

[2018-06-19 03:04] #86 closed

[2018-06-19 03:05] radar commented on #87
No. You can find and replace those examples. Not even a day’s worth of effort.

[2018-06-19 03:05] #87 closed

[2018-10-15 05:26] rabnawaz63 opened #96 "Totally weird behavior"
dotiw totally gives wrong results when i try to find distance within month (1 - 27 days) otherwise it works fine.
Here's an example.
`> distance_of_time_in_words(Date.today, Date.today - 2.days)
 => '14929920000 days' `

[2018-10-15 11:56] lauranjansen commented on #96
Hi! I’m pretty sure the weird result in this case is caused by trying to calculate the distance with a date in the past. Granted, we should probably make sure to take the modulus before we do any calculations anyway.

[2018-10-15 12:04] rabnawaz63 commented on #96
@lauranjansen Yes i'm calculating the distance with a date in the past.

[2018-10-15 13:15] lauranjansen commented on #96
I might be wrong (it’s been a while), but I think the intended use is to put the past date in the first argument and in your case Date.today in the second one.

[2018-10-16 10:14] rabnawaz63 commented on #96
@lauranjansen It gives the same result no matter where i put the past date. Is this is a bug in gem or i'm doing something wrong.

[2018-12-15 15:59] gsaks123 commented on #77
2 years after [this change](https://github.com/radar/distance_of_time_in_words/pull/68) I bumped my version of the Gem from 3.01 to the latest, and there's been a bug across my application as a result.

The application used `only: [:months,:days]` in many places, and so I'd previously get output like "1 month and 13 days" which I would argue in many contexts is much more readable and easily unders

[2019-03-27 10:38] MSCAU opened #97 "Seeing vague:false in production but vague:true in dev"
Firstly, thanks for a great gem. It's quite handy.

I have a problem:

The code is ...

`def time_ago_for_notification(n)`
    `t("global.time_ago", time: time_ago_in_words(n.created_at, vague: true))`
`end`

This runs as expected in dev but in production it's rendering as if `vague` were set to `false`.

My Gemfile correctly lists dotiw in the main section:

`gem 'dotiw'`

What else should I chec

[2019-03-27 21:10] MSCAU commented on #97
I removed an old version of my `users_helper.rb` which was in the same folder and had a similar name and deployed again. Since it was present on both environments, it shouldn't have made a difference. However, the problem has gone and I now have `vague:true` behaviour on production too.

[2019-03-27 21:10] #97 closed

[2019-05-10 21:44] lauranjansen commented on #96
Hey @rabnawaz63, do you still have this problem? I don't think the code base has changed, but when I run the same command I get the correct output:

`distance_of_time_in_words(Date.today, Date.today - 2.days) => "2 days"`
`distance_of_time_in_words(Date.today - 2.days, Date.today) => "2 days"`

[2019-05-10 21:57] lauranjansen commented on #85
Hi @aldent95, I just looked into this and it does seem like the default behaviour of `distance_of_time_in_words_to_now` (which should just be an alias for `distance_of_time_in_words`) is different when this gem is used.

#Without `dotiw` installed
[code]

[2019-09-12 08:43] meesern opened #98 "Guidance on using with pure ruby"
Would be great if the readme included a section on use without rails.

[2020-05-07 13:36] ivanovv commented on #63
Just my 2 cents here:

we have an issue with this gem and clockwork_web gem, all timestamps are off by an hour

[code]

I think when we are speaking about time difference, we really don't care about th timezone, because essentially things happen at one specific point in time, timezones just define the way we show those points (timestamps), but for two specific moments in time the distance between

[2020-06-15 11:31] dblock commented on #98
Currently requires this workaround:

[code]

Then

[code]

I'd like to fix this, @radar - want to (re)enable (Travis-)CI and I'll fix all this up?

[2020-06-15 11:38] dblock commented on #98
To extend `Time`, above plus:

[code]

[2020-06-15 11:56] dblock commented on #98
https://github.com/dblock/slack-sup/pull/80

Brings in action_pack and action_view which we don't want.

[2020-06-20 17:02] dblock commented on #98
https://github.com/radar/distance_of_time_in_words/pull/103

[2020-07-02 00:50] dblock commented on #31
This is fixed. Added tests confirming in https://github.com/radar/distance_of_time_in_words/pull/105/commits/b4a601bc36c609e9d4615abec0582ed322851448.

[2020-07-02 00:50] #31 closed

[2020-07-02 01:03] dblock commented on #44
Sort of a repro in https://github.com/dblock/distance_of_time_in_words/commit/d38961feb716de4310a485b10d80a9878c337c6b, if anyone wants to fix.

[code]

Looks like a locale file is not being loaded, it could just be a configuration problem in the test setup for locale files, not sure what's the best way to fix.

[2020-07-02 01:16] dblock commented on #58
This is still a non-feature, it would be nice if end of year minus beginning of year was smart enough to say "12 months", but seems non-trivial. Spec in https://github.com/dblock/distance_of_time_in_words/commit/74bc2cc087dc2435eb2bcaef55eb8e8eb2c5c13d.

[2020-07-02 01:22] dblock commented on #59
Added tests confirming this works in https://github.com/dblock/distance_of_time_in_words/commit/734c2fb06c643cde5692a25bed17fe65e4f22b69.

[2020-07-02 01:22] #59 closed

[2020-07-02 01:29] dblock commented on #59
Note that this was probably failing in the past because `TimeHash` calls `dst?`, but `DateTime` does not implement that. The implementation of `distance_of_time_in_words_hash` now calls `to_time` on anything that's not a `Time`.

[2020-07-02 01:34] dblock commented on #74
README documents `accumulate_on`

[2020-07-02 01:34] #74 closed

[2020-07-02 01:39] dblock commented on #75
This is still an issue, maybe someone wants to take a stab at fixing it?
https://github.com/dblock/distance_of_time_in_words/commit/1f12d1c20a15fa57cdc1b281f1ae69463b6cc4e9

[2020-07-02 01:44] dblock commented on #77
While this works as expected I personally do think it's surprising. Does anyone have a strong use-case of `only` that would drop intermediate results? Maybe that shouldn't be allowed and `only:` be refactored into `truncate_at:` or something like that?

[2020-07-02 01:46] dblock commented on #80
The `except: :seconds` option will do the job, feel free to reopen if I misunderstood the question.

[2020-07-02 01:46] #80 closed

[2020-07-02 01:48] dblock commented on #81
This is a dup of #75.

[2020-07-02 01:48] #81 closed

[2020-07-02 01:49] dblock commented on #75
There was an attempt of a fix in https://github.com/radar/distance_of_time_in_words/pull/82.

[2020-07-02 01:51] dblock commented on #85
Feels like we should document this behavior as a gotcha?

[2020-07-02 01:55] dblock commented on #96
This works as expected now, added tests in https://github.com/dblock/distance_of_time_in_words/commit/01fc1cb488c56ec705f707c4cbbac8a2f7753df6.

[2020-07-02 01:55] #96 closed

[2020-07-06 01:18] #75 closed

[2020-07-06 01:19] #98 closed

[2020-07-06 22:10] dblock commented on #60
I added some spec infrastructure in https://github.com/radar/distance_of_time_in_words/pull/109 so you can create .yml files for language tests. I still see a bunch of bugs in, for example, Russian, if you feel motivated, appreciate some more tests on top of this, please.

[2020-07-11 17:43] gsaks123 commented on #77
@dblock while it might be complex, a nifty way to do it would be to drop results SMALLER than the smallest value in the `only` array.  For example, let's say you specify:

`only: [:years, :months, :days]`

Here, the smallest value in the array is days. Therefore anything for hours, minutes, and seconds is dropped. However, weeks is not smaller than the smallest value in the array, so rather than b

[2020-07-13 12:32] dblock commented on #77
I think what you propose is an interesting idea! I don't think it's too bad to implement though if you want to give it a shot:

1. Build the hash normally, you have years, weeks, days, months, minutes, seconds ...
2. From highest to lowest: if the value is excluded (not in `:only` or included in `except:`) convert down to the next value, and add to it
3. Truncate at the lowest.

I'd start by writi

[2020-08-04 17:19] denisahearn opened #110 "No superclass method `distance_of_time_in_words' error when using version 5.0.0"
After upgrading to version 5.0.0 of this gem, my Rails app started experiencing this issue:

[code]

If I lock my Gemfile at version 4.0.1 of this gem then the issue goes away.

The code in my Rails app that is calling `distance_of_time_in_words` helper is calling it in a controller this way:

[code]

The version of Rails that my app is using is 6.0.3.2.

Is there something I need to do in my app

[2020-08-04 20:03] denisahearn commented on #110
Please let me know if you would like me to submit a sample Rails app that demonstrates this issue, and I will put one together and upload it here.

[2020-08-04 20:48] dblock commented on #110
It's probably a regression, calling `ActionController::Base.helpers.distance_of_time_in_words` invokes a class method and so we don't have `super` in https://github.com/radar/distance_of_time_in_words/blob/master/lib/dotiw/action_view/helpers/date_helper.rb#L13, what we're really trying to call here is `DOTIW::Methods.distance_of_time_in_words`.

Instead of using `ActionController::Base.helpers.di

[2020-08-04 23:44] denisahearn commented on #110
@dblock Here is a PR that fixes the issue: https://github.com/radar/distance_of_time_in_words/pull/111. Looking forward to your feedback.

[2020-08-05 15:51] dblock commented on #110
Fixed un https://github.com/radar/distance_of_time_in_words/pull/111

[2020-08-05 15:51] #110 closed

[2020-08-05 17:27] dblock commented on #110
I released 5.2.0, thanks for your help @denisahearn! If you want to do more work I think it'd be nice to break up the specs a bit separating Rails vs. non-Rails into separate files, etc.

[2020-08-20 12:39] dblock opened #113 "Options passed in are being modified"
https://github.com/radar/distance_of_time_in_words/blob/master/lib/dotiw/methods.rb#L15, etc.

[2020-10-27 14:37] gsaks123 commented on #77
Hi @dblock I hope to find the time at some point to give this a shot, but I'm also not that experienced of a developer, have never really contributed to a gem like this, and might take me a while to get it acceptably implemented. But hopefully I can work on it some day.

[2020-10-27 14:39] dblock commented on #77
Cool. I would start by writing tests of what you expect the output to be, and that alone is valuable.

[2020-11-10 02:52] joshuapinter opened #116 "`vague: true` can't be passed to `distance_of_time_in_words_to_now`?"
Is it just me or can `vague: true` not be passed to `distance_of_time_in_words_to_now` like it can with `distance_of_time_in_words`?

Am I missing something or is this a bug or a design decision?

Thanks.

[2020-11-10 15:15] dblock commented on #116
Where did you find `distance_of_time_in_words_to_now`?

[2020-11-10 15:20] joshuapinter commented on #116
https://apidock.com/rails/v5.2.3/ActionView/Helpers/DateHelper/distance_of_time_in_words_to_now

Definitely a Rails thing, but looking deeper, it's an alias of `time_ago_in_words`, which in turn just calls `distance_of_time_in_words`.

[code]

It certainly uses `dotiw` when calling it, but there must be a mismatch of params that prevents options like `vague: true` from being passed to it and prope

[2020-11-10 15:25] dblock commented on #116
It's certainly not by design, and if we can help it, let's fix it. I would write a spec first here to begin with.

[2020-11-10 15:29] joshuapinter commented on #116
Good stuff. I'll write the spec and take it from there. Thanks for the quick response and the support behind this change.

[2020-11-19 20:16] joshuapinter commented on #116
Hey @dblock, I created a failing spec for `distance_of_time_in_words_to_now` when options are passed.

You can see the draft PR here:

https://github.com/radar/distance_of_time_in_words/pull/117

Take a look and let me know what the best plan forward is. Happy to do it.

Thanks!

[2020-11-19 20:24] dblock commented on #116
Thanks for the spec! Did you try fixing it?

[2020-11-19 20:37] joshuapinter commented on #116
Working on it now... :)

[2020-11-19 20:50] joshuapinter commented on #116
Okay, fix is in. All tests passing with `appraisal` in development. Will wait for CI to run its tests. And then over to you.

Let me know if you need anything else on my end.

[2020-11-19 23:03] #116 closed

[2020-11-19 23:05] dblock commented on #85
@joshuapinter any ideas about this after #117 ?

[2020-11-20 01:57] joshuapinter commented on #85
@dblock Yes. With the implementation of `distance_of_time_in_words_to_now` in #117, this returns an error when `nil` is passed, like the original method does. It's not the exact same error but it matches what is found in `distance_of_time_in_words`.

## Before #117

[code]

## After #117

[code]

So OP's issue, as described, is now resolved with #117.

[2020-11-20 04:04] dblock commented on #85
I think we want to match the `ArgumentError` that you'd get without dotiw, would take a PR.

[2020-11-20 04:07] joshuapinter commented on #85
I'll leave this up to @aldent95 to tackle.

[2020-11-20 19:46] joshuapinter commented on #85
@dblock I had some extra downtime so I wrote up a PR to return the same `ArgumentError` that the original `distance_of_time_in_words` does.

This works for all the typical methods.

Capture in PR #118. Take a look when you get a chance.

[2020-11-20 19:53] #85 closed

[2020-11-20 19:53] dblock commented on #85
Thanks @joshuapinter !

[2020-11-20 20:10] joshuapinter commented on #113
Ended up doing this in a separate PR:

https://github.com/radar/distance_of_time_in_words/pull/119

Didn't run into any issues with dup'ing the `options`.

[2020-11-22 14:25] joshuapinter commented on #85
👍

[2020-12-28 15:52] reymillenium opened #120 "Is not grouping the omitted time quantities"
If I call for example:

distance_of_time_in_words(date1, date2, false, only: %i[years months days])

It's showing me something like like this:
1 year, 11 months, and 5 days

But the thing is that the amount of days is wrong. The amount of real time is:
1 year, 11 months, 3 weeks and 5 days

So your method should says instead:
"1 year, 11 months, and 26 days"

The fact that I only need the years, m

[2020-12-29 03:26] dblock commented on #120
I think this is a dup of https://github.com/radar/distance_of_time_in_words/issues/77

[2021-01-10 12:14] shaicoleman commented on #63
I think it might because it calcluates differences in times and not in dates.

The specs are failing, e.g.
[code]

e.g.
TZ='Europe/Dublin' bundle exec irb
[code]

[2021-01-11 14:57] dblock commented on #63
I would like this to be documented/improved. Please contribute!

[2021-03-01 15:03] M1chael commented on #76
Hi, @ivanovaleksey!
Can you please explain, how to fix this issue? I can't even find `config/locale/plurals.rb`.

[2021-03-01 19:31] ivanovaleksey commented on #76
@M1chael it was a long ago :)
I have found that project, it is just Ruby script, not Rails application. Though the following gems are used for translation helpers.
[code]
The project doesn't contain `config/locale/plurals.rb` too. As far as I understand it is kind of a file that I18n library can automatically look for. You can try to google to find out more about it https://stackoverflow.com/a/616

[2021-03-02 14:43] M1chael commented on #76
Thanks a lot!

It works for me in this way without rails:
[code]
[plurals.rb](https://raw.githubusercontent.com/ruby-i18n/i18n/master/test/test_data/locales/plurals.rb) I take from your link to SO question.

[2021-03-18 16:59] cybertronbaka opened #121 "translation missing: de.datetime.dotiw.two_words_connector"
Translation missing.

[2021-03-18 17:07] #113 closed

[2021-03-25 21:41] jleffert opened #123 ":compact Option Appears Broken"
I get the error

`Unknown key: :compact. Valid keys are: :words_connector, :two_words_connector, :last_word_connector, :locale`

When calling

`distance_of_time_in_words(Time.current, Time.current + 10.minutes, include_seconds: true, compact: true)`

I'm pretty sure the param is no longer getting deleted properly here:

`DOTIW::Methods#options_with_scope
`
![image](https://user-images.githubuserco

[2021-03-26 03:22] rposborne commented on #123
Confirming this,   Looks like the compact functionality doesn't have great coverage over it only its use with `distance_of_time`  is tested.

[2021-03-26 17:34] #123 closed

[2021-06-15 10:28] MSCAU opened #125 "After upgrading from 4.0.1 to 5.3.1, time_ago_in_words(b.updated_at, vague: true) no longer works"
I had to upgrade to Rails 5.2.6 yesterday to get around the MimeMagic license issue (see https://dev.to/cseeman/what-s-up-with-mimemagic-breaking-everything-he1). As the same time, dotiw got switched from 4.0.1 to 5.3.1. I now get this error which wan't present before:

`Unknown key: :vague. Valid keys are: :words_connector, :two_words_connector, :last_word_connector, :locale`

The line where this

[2021-06-15 13:57] dblock commented on #125
This sounds vaguely (no pun intended) familiar. I suspect that you're no longer calling this library, but the original Rails `time_ago_in_words` method. In which class is this call made?

1. Check that https://github.com/radar/distance_of_time_in_words/blob/master/lib/dotiw/action_view/helpers/date_helper.rb gets included in the location of the call. This should be automatic for wherever the metho

[2021-06-16 04:01] mozcomp commented on #125
I'm getting a similar issue, though still with Rails 4.2.11, between DOTIW 4.0.1 -> 5.3.1

From the console ...

` helper.distance_of_time_in_words(Time.current, contract.expires_on, vague: true)
Traceback (most recent call last):
       15: from bin/rails:4:in `<main>'
       14: from bin/rails:4:in `require'
       13: from /usr/local/var/rbenv/versions/2.5.8/lib/ruby/gems/2.5.0/gems/railties-4.

[2021-06-16 04:30] mozcomp commented on #125
I think the issue has arisen from commit 20/11/2020 by joshuapinter ...

where previous code called the activesupport method with `if options.delete(:vague}`
the new version calls it with the vague option `if options[:vague]`

old ..

new ..

I'd create a pull request but it's beyond my pay grade!!

[2021-06-16 14:35] dblock commented on #125
That's correct @mozcomp. Making a pull request is definitely not above your pay grade though, we pay you enough :)

Maybe try to write a spec that reproduces this [here](https://github.com/radar/distance_of_time_in_words/blob/master/spec/lib/dotiw_spec.rb#L420)? The code fix is trivial, we need to do `options = options.except(:vague)` somewhere in this code.

[2021-06-20 00:27] MSCAU commented on #125
Sorry, my Rails is very rusty and I don't remember enough to understand your questions.

I am making the call thus, in a file called app/views/budgets/browse.jb, which uses https://github.com/amatsuda/jb:

[code]

[2021-11-08 18:15] matt-whiteley commented on #125
Would it be possible to get a new release now that a fix has been merged? The latest on RubyGems is the version with this bug present.

I don't like tracking `master` in production deployed code!

Thanks!

[2021-11-08 19:39] dblock commented on #125
This was fixed in https://github.com/radar/distance_of_time_in_words/pull/126

[2021-11-08 19:39] #125 closed

[2021-11-08 19:41] dblock commented on #125
@matt-whiteley Done.

[2022-05-05 04:47] ivanovv commented on #63
I believe this issue has been fixed by #128

[2022-05-05 08:49] shaicoleman commented on #63
@ivanovv , still not fixed, e.g. the specs are still failing when running `TZ='Europe/Dublin' bundle exec irb`

[2022-05-05 09:09] ivanovv commented on #63
5.3.2
[code]

it says `less than 1 second` because the result is negative

5.3.3

[code]

[2022-05-05 17:18] dblock commented on #63
@shaicoleman What's your output? Maybe it matters what time of day these specs run? :)

[2022-05-05 17:55] shaicoleman commented on #63
[code]

The following timezones have failing specs (Ubuntu 20.04, Ruby 2.7)
[code]

[2022-06-14 22:20] ejstembler opened #129 "NameError: uninitialized constant DOTIW::Methods"
Any ideas why I would be getting this error on Windows but not macOS?

[code]

I'm using this in a local gem, my `*.gemspec` reference:

[code]

How I'm referencing it in a class:

[code]

[2022-06-14 22:56] ejstembler commented on #129
Never mind.  I discovered `DOTIW::Methods` is not even present in version `3.1.1`. After upgrading to the latest version it worked.  I guess on macOS I had multiple versions of the gem, and Windows was a fresh install, so it only had the older gem.

[2022-06-14 22:56] #129 closed

[2022-08-26 09:27] seansfkelley opened #130 "highest measure rounding mode"
Right now, using `highest_measures`/`highest_measure_only` simply truncates smaller units:

[code]

Depending on the context, this can be quite misleading. (For my space-constrained use-case, "1 week 6 days" in the above example would be needlessly precise.)

Would you be open to an option that describes what to do with the currently-ignored duration?

[code]

[2022-08-26 14:27] dblock commented on #130
Certainly! Would it make more sense to extend the `highest_measure_only` option to `true`, `false`, `round`, `floor`, `ceiling` or deprecate it for `highest_measure:` with these 3 options?

[2022-08-26 15:43] seansfkelley commented on #130
Great! I like the idea of consolidating them. It would feel artificially constrained to only allow `highest_measure_only` to do this. Also, I was slightly confused why the two different options existed. How about something like...

[code]

...and then some other variants like...

[code]

My use-case would then be expressible as...

[code]

I'm not particular about the `count`/`remainder` verbiage.

[2022-08-28 15:03] dblock commented on #130
Let's talk it out in the PR! Thanks.

[2022-08-31 13:28] #130 closed